#submit {
    position: fixed;
    right: 990px;
    top: 850px;
}

.sidenav {
    height: 100%; 
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
    border-right: outset;
    border-color: lightgrey;
  }

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: lightgray;
    display: block;
  }

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; 
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.card {
    position: relative;
    left: 300px;
    top: 30px;
    border: solid;
    border-color: darkslategrey;
}

.inputCard {
    position: absolute;
    left: 300px;
}

.card-header {
    background-color: darkgray;
}

.form-group {
    margin-left: 300px;
    margin-right: 900px;
}

.table {
    margin-left: 300px;
    width: 80%;
}

#statsTable {
    width: 80%;
}
.loginButton {
    margin-left: 300px;
    background-color: darkgrey;
}

#firstName {
    width: 640px;
}

#secondName {
    width: 640px;
}

#height {
    width: 640px;
}

#weight {
    width: 640px;
}

#addNewFighterBtn {
    position: absolute;
    right: 914px;
    top: 800px;
}

.signOut {
    position: absolute;
    right: 50;
}